* text=auto

# Every rule below matches an extension, so a file without one falls back to `text=auto` and is
# checked out with CRLF on Windows. LICENSE must stay byte-identical to the FSF text the AGPL
# requires be conveyed with every copy, and the release declaration is parsed by the workflow.
LICENSE text eol=lf
.github/full-package-release text eol=lf

*.css text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.jsx text eol=lf
*.md text eol=lf
*.mjs text eol=lf
*.py text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf
*.desktop text eol=lf
*.bat text eol=crlf
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.safetensors binary
*.ckpt binary
